[Unit]
After=network.service

[Service]
ExecStart=/home/user/gpt-threads/gpt-threads-ui/auto_build_run_container.sh
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target